.link-no-underline {
  text-decoration: none;
  /* Elimina el subrayado del enlace */
  color: inherit;
  /* Mantiene el color del texto original */
}

.content-categoria {
  border: 1px solid var(--fondo-menos-importante);
  margin: 10px;
}

.text-description-categoria {
  text-align: center;
  margin: 1px;
  padding: 5px;
}

@media screen and (max-width: 447px) {
  .desdription {
    margin-left: 0;
    text-align: center;
    width: 100%; /* Cambié el valor para ocupar el ancho completo */
  }

  .desdription h6 span {
    margin-top: 10px;
  }

  .desdription h6 span.letra {
    text-align: center;
    font-size: 10px;
    display: block;
  }
}
@media screen and (max-width: 320px) {
  .desdription {
    margin-left: 0;
    text-align: center;
    width: 100%; /* Cambié el valor para ocupar el ancho completo */
  }

  .desdription h6 span {
    margin-top: 10px;
  }

  .desdription h6 span.letra {
    text-align: center;
    font-size: 9.5px;
    display: block;
  }
}