.coloresDev {
    --primary-100: #005B99;
    --primary-200: #6fd2ee;
    --primary-300: #b7e9ff;
    --accent-100: #FFD700;
    --accent-200: #daa232;
    --text-100: #333333;
    --text-200: #0171fa;
    --bg-100: #e36db4;
    --bg-200: #ebebeb;
    --bg-300: #ea2323;

    /* color para fondo */
    --bg-400: #f01919;
}

/* Clases para fondos */
.bg-primary-100 {
    background-color: var(--primary-100);
}

.bg-primary-400 {
    background-color: var(--primary-400);
}

.bg-primary-200 {
    background-color: var(--primary-200);
}

.bg-footer {
    background-color: var(--primary-500);
}

.bg-primary-300 {
    background-color: var(--primary-300);
}

.bg-accent-100 {
    background-color: var(--accent-100);
}

.bg-accent-200 {
    background-color: var(--accent-200);
}

.bg-bg-100 {
    background-color: var(--bg-100);
}

.bg-bg-200 {
    background-color: var(--bg-200);
}

.bg-bg-300 {
    background-color: var(--bg-300);
}

/* Clases para color de texto */
.text-100 {
    color: #292524;
}

.text-200 {
    color: var(--text-200);
}

.custom-text {
    font-size: 50px;
    color: var(--text-200);
    line-height: 1.5;
    /* Agrega más estilos según tus preferencias */
}

.img {
    height: auto;
    max-width: 100%;
}

.border-3d {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


.custom-button {
    background-color: var(--accent-200) !important;
    color: var(--text-100) !important;
}

.bg-cielo {
    background-color: #e36db4;
    /* o cualquier otro código de color que prefieras */
    color: white;
}


@media screen and (max-width: 580px) {
    .espacioImg {
        margin-left: 30px;
    }
}


/* color para fondo */
.colorfondo{
    background: #d02d2d;;
}

/* Color para caja de texto */
/* #cajaTexto{
    border-color: orange;
} */
#cajaTexto:focus{
    border-color:#daa232;
    box-shadow:0 0 0 3px rgb(218, 162, 50,0.5);
}
/* *************************************** */