.navbarE {
    background:#d81515; 
    color: #83dffe;
    padding: 1rem 5rem;
    Border-bottom: 1px solid #12a2f0;
}

.flexx {
    display: flex;
}

.sidebar{
    background: rgb(93, 92, 92);
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:10px 15px;
}
.logo{
    font-size: 20px;
}
.bars{
    display: flex;
    font-size: 25px;
    cursor: pointer;
}
.linkSidebar{
    display: flex;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    gap:2px;
    transition: all 0.5s;
}
.linkSidebar:hover{
    background:rgb(241, 168, 211);
    color: #000;
    transition: all 0.2s;
}
.active{
    background: rgb(249, 51, 216);
    color: #000;    
}
.icon, .linkSidebar_text{
    font-size: 20px;    
} 
/* .linkSidebar_content {
    display: flex;  Para alinear los elementos horizontalmente 
    align-items: center;  Para centrar verticalmente los elementos
}
.icon {
    margin-right: 10px; /* Espacio entre el ícono y el texto
} */
.linkSidebar_text {
    display: inline; /* Para que el texto se muestre en línea */
    margin-top: 5px;
}